    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Us</h2>
                <p>Mulberry Springs Farm is a historic Virginia property dating back to the 1750s. It has been completely renovated and is now open to the airbnb community!  Mulberry Springs is owned and operated by Leonne and Ilija from Gloucester County, Va. Their son's years attending the University of Virginia  prompted frequent trips to Charlottesville. They have since fallen in love with the foot hills of the Blue Ridge Mountains and hope to share the experience with others.


                </p>
            </div>
        </div>
    </section>
