    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <br>
        <div class="row">
            <div class = "col-lg-4 col-md-4 col-sm-4">
            <img class="img-responsive" src="{{ page.user_img }}" alt=""</img><br>
            </div>
            <div class = "col-lg-8 col-md-8 col-sm-8">
            <hr class="host-divider">
            <h2 align='left'> About Us </h2>
            <div class="follower">{{ page.about_host }}
            </div>
            <hr class="host-divider">
        </div>
        </div>


    </section>
