    <!-- Download Section -->
    <section id="lefty" class="content-section text-center">
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="https://www.airbnb.com/rooms/8144903">
                    <img class="img-responsive" src="/img/binghamcottage.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Bingham Mountain Cottage</h3>

                <p>Bingham Mountain Cottage  is a rustic barn  that has been recently  converted into a studio apartment. Located two miles from Mulberry Spring Farm, the cottage is perched at the foothills of Bingham Mountain,  and has incredible views of the rolling farmland that surrounds. A very unique spot.  </p>
                <a href="https://www.airbnb.com/rooms/8144903" target="_blank" class="btn btn-default btn-lg">See More</a>
            </div>
        </div>
        <!-- /.row -->
    </section>
