    <!-- Download Section -->
    <section id="lefty" class="content-section text-center">
        <!-- Project One -->
        <div class="row">
            <div class="col-md-6">
                <h3>The Cabin <br>At Mulberry Spring</h3>

                <p>A humble, rustic two story cottage on rolling land overlooking dry stacked stone walls and forest. The cabin hosts a cozy living room with a wood stove,  an equipped kitchen, and full bath. A bedroom with a queen bed is upstairs, . </p>
                <a href="https://www.airbnb.com/rooms/8902465" class="btn btn-default btn-lg" target="_blank">See More</a>
            </div>
            <div class="col-md-6">
                <a href="https://www.airbnb.com/rooms/8902465" target='_blank'>
                    <img class="img-responsive" src="/img/cabin.jpg" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->
    </section>
