    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>The Cottage</h2>
                    <p>This charming two story cottage is set on rolling land overlooking dry stacked stone walls and forest. The first floor is an open floor plan with a stone fireplace at one end opposite the kitchen. A single bedroom upstairs hosts a over-sized full mattress. Full bath downstairs.</p>
                    <a href="https://www.airbnb.com/rooms/7901041?s=iMdR4oyH" class="btn btn-default btn-lg">Book It</a>
                </div>
            </div>
        </div>
    </section>
