    <!-- Download Section -->
    <section id="lefty" class="content-section text-center">
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/img/monroehouse.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Monroe House <br>at Mulberry Springs</h3>

                <p>The Monroe House at Mulberry Springs is a historic two-story Colonial residence (c. 1750's) situated in a picturesque complex of barns, guest cottages, and outbuildings on 15.4 rolling acres.  The perfect getaway for a family or pair of couples.</p>
                <a href="https://www.airbnb.com/rooms/9044109" target="_blank" class="btn btn-default btn-lg">See More</a>
            </div>
        </div>
        <!-- /.row -->
    </section>
